body {
  background: #f3eaff;   
  font-family: 'Poppins', sans-serif;
  padding-bottom: 40px;
}


h1 {
  color: #2d0f4c;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
  font-weight: 700;
  margin-bottom: 35px;
  font-size: 2.4rem;
}

.card {
  border-radius: 15px;
  background: #ffffffcc;
  backdrop-filter: blur(5px);
  border: 2px solid #b793ff;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.card-header {
  background: linear-gradient(90deg, #5e2b97, #2e124d, #00aa66, #7ecbff);
  color: white !important;
  font-weight: bold;
  border-radius: 12px 12px 0 0 !important;
}

.btn {
  background: linear-gradient(90deg, #3c1769, #6e39a0);
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: linear-gradient(90deg, #00aa66, #4cb3ff);
  color: black;
  transform: scale(1.05);
}

input.form-control {
  border: 1px solid #c7afff;
  border-radius: 8px;
}

input.form-control:focus {
  border-color: #5e2b97;
  box-shadow: 0 0 6px rgba(94, 43, 151, 0.4);
}

.alert-secondary {
  background: #efe3ff !important;
  border: 1px solid #c4a8ff;
  color: #2b1740;
  font-weight: 500;
  border-radius: 12px;
}

.card, .btn, .alert-secondary {
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

@media(max-width: 600px){
  h1 { font-size: 22px; }
}
